$green:#066042;
$black : #121212;
$gradient: linear-gradient(90deg, #285D2C 0%, #A4C939 100%), #066042;
$red : #E34325;
$green-blur: #589580;

$container-max: 1350px;
$container-pad: 15px;

@font-face {
    font-family: 'SF-Pro-Display-Bold';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'SF-Pro-Display-Medium';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Medium.otf') format('truetype');
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    font-display: swap;
    src: url('../webfonts/SF-Pro-Display-Semibold.otf') format('truetype');
}



@font-face {
    font-family: 'Mona-Regular';
    src: url('../webfonts/MonaSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mona-Medium';
    src: url('../webfonts/MonaSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Mona-Bold';
    src: url('../webfonts/MonaSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mona-SemiBold';
    src: url('../webfonts/MonaSans-SemiBold.ttf') format('truetype');
}




@mixin Mona-Regular {
    font-family: 'Mona-Regular';
}
@mixin Mona-Medium {
    font-family: 'Mona-Medium';
}
@mixin Mona-Bold {
    @include Mona-SemiBold();
}

@mixin Mona-SemiBold {
    font-family: 'Mona-SemiBold';
}




@mixin Bold {
    font-family: 'SF-Pro-Display-Bold';
}

@mixin SemiBold {
    font-family: 'SF-Pro-Display-Semibold';
}

@mixin Regular {
    font-family: 'SF-Pro-Display-Regular';
}

@mixin Medium {
    font-family: 'SF-Pro-Display-Medium';
}

@mixin maxWidth($width) {
    @media (max-width: $width) {
        @content;
    }
}



@mixin line-clamp($value) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: $value;
}


.breadcrumb-item+.breadcrumb-item::before{
    content: "\f105";
    font-family: "Font Awesome 6 Pro";
    color: #E44119 !important;
   
}